# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
#忽略要上传的文件
/video/video.iml
/root/root.iml
/front-ui/front-ui.iml
/.idea/
/admin/admin.iml
/blog/blog.iml
/config/config.iml
/core/core.iml
/do123.iml
do123.iml
/admin/target/
/blog/target/
/config/target/
/core/target/
/front-ui/target/
/root/target/
/video/target/
