<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<ol class="page-navigator" th:fragment="pageNav(pageInfo, prevText, nextText, prefix)">
    <!--通过PageInfo中的属性判断相关值-->
    <th:block th:if="${pageInfo.hasPreviousPage}">
        <li class="prev">
            <button class="btn btn-default">
                <a th:href="@{'/'+${prefix}+'/'+${pageInfo.prePage}}"
                   th:text="${prevText}"></a>
            </button>
        </li>

    </th:block>
    <!--显示5个标签选项页-->
    <th:block th:each="navIndex :${ pageInfo.navigatepageNums}">
        <li th:if="${navIndex >= pageInfo.pageNum -2 &amp;&amp; pageInfo.pageNum +2 >= navIndex }"
            th:class="${pageInfo.pageNum==navIndex}?'current':''">
            <button class="btn btn-default" >
                <a th:href="@{'/'+${prefix}+'/'+${navIndex}}" th:text="${navIndex}"></a>
            </button>
        </li>
    </th:block>

    <th:block th:if="${pageInfo.hasNextPage}">
        <li class="next">
            <button class="btn btn-default" id="btn1">
                <a th:href="@{'/'+${prefix}+'/'+${pageInfo.nextPage}}" th:text="${nextText}"></a>
            </button>
        </li>
    </th:block>
</ol>
</body>
</html>